* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-wrap {
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 12px;
  width: 41vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(211, 211, 211, 0.39)), color-stop(transparent), color-stop(transparent), color-stop(transparent), to(rgba(211, 211, 211, 0.432)));
  background: linear-gradient(90deg, rgba(211, 211, 211, 0.39), transparent, transparent, transparent, rgba(211, 211, 211, 0.432));
  -webkit-box-shadow: 0 2px 3px lightgray;
          box-shadow: 0 2px 3px lightgray;
}

.scoreScreen {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vw;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.timer {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vw;
  width: 10vw;
  -webkit-box-shadow: 0 2px 3px lightgray;
          box-shadow: 0 2px 3px lightgray;
  background-color: #ffeb3b;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.field {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42vw;
}

.elem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 12px;
  border: 3px solid lightgray;
  height: 10vw;
  cursor: pointer;
  -webkit-transition: background 0.3s, height 0.3s, -webkit-transform 600ms;
  transition: background 0.3s, height 0.3s, -webkit-transform 600ms;
  transition: background 0.3s, height 0.3s, transform 600ms;
  transition: background 0.3s, height 0.3s, transform 600ms, -webkit-transform 600ms;
}

.transform {
  -webkit-transform: rotate3d(1, 1, 1, 118deg);
          transform: rotate3d(1, 1, 1, 118deg);
}

.showElem {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 12px;
  border: 3px solid lightgray;
  height: 7vw;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.message {
  font-size: 5vw;
  text-align: center;
  white-space: pre-line;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.initialPos {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.finalPos {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.time {
  font-size: 5vw;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.timer.shotyellow {
  -webkit-box-shadow: 0px 0px 0px 12px #ffeb3b;
          box-shadow: 0px 0px 0px 12px #ffeb3b;
}

.timer.shotorange {
  -webkit-box-shadow: 0px 0px 0px 12px orange;
          box-shadow: 0px 0px 0px 12px orange;
}

.timer.shotred {
  -webkit-box-shadow: 0px 0px 0px 12px #e57373;
          box-shadow: 0px 0px 0px 12px #e57373;
}

@media screen and (max-width: 1199px) {
  .screen-wrap {
    width: 53vw;
  }
  .field {
    width: 54vw;
  }
  .elem {
    height: 11vw;
  }
  .showElem {
    height: 7vw;
  }
  .message {
    font-size: 6vw;
  }
}

@media screen and (max-width: 991px) {
  .screen-wrap {
    width: 59vw;
  }
  .field {
    width: 60vw;
  }
  .elem {
    height: 15vw;
  }
  .showElem {
    height: 10vw;
  }
  .message {
    font-size: 7vw;
  }
  .timer {
    height: 12vw;
    width: 12vw;
  }
  .time {
    font-size: 7vw;
  }
}

@media screen and (max-width: 767px) {
  .screen-wrap {
    width: 79vw;
  }
  .field {
    width: 80vw;
  }
  .elem {
    height: 20vw;
  }
  .showElem {
    height: 15vw;
  }
  .message {
    font-size: 7vw;
  }
  .timer {
    height: 15vw;
    width: 15vw;
    font-size: 7vw;
  }
}

@media screen and (max-width: 575px) {
  .screen-wrap {
    width: 95vw;
  }
  .field {
    width: 96vw;
  }
  .elem {
    height: 24vw;
  }
  .showElem {
    height: 18vw;
  }
  .message {
    font-size: 12vw;
  }
  .timer {
    height: 21vw;
    width: 21vw;
  }
  .time {
    font-size: 10vw;
  }
}
