*{
	margin: 0;
	border: 0;
	padding: 0;

	font-family: sans-serif;
	box-sizing: border-box;

	list-style-type: none;
	text-decoration: none;
	outline: none;
}

// General 
html, body{
	height: 100%;
	overflow: hidden;
}

.wrap{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.scoreScreen{
	margin-bottom: 12px;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vw;
	width: 41vw;
	background:linear-gradient(90deg,  rgba(211, 211, 211, 0.39), transparent, transparent, transparent, rgba(211, 211, 211, 0.432));
	box-shadow: 0 2px 3px lightgray;
	transition: 300ms;
}


// parent
.field{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 42vw;
}

// children
.elem{
	flex: 0 0 24%;
	margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 12px;
	border:3px solid lightgray;
	height: 10vw;
	cursor: pointer;
	transition: background 0.3s, height 0.3s, transform 600ms;
}

.transform{
	transform: rotate3d(1, 1, 1, 118deg);
	// transition:1800ms;
}

.showElem{
	flex: 0 0 24%;
	margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 12px;
	border:3px solid lightgray;
	height: 7vw;
	cursor: pointer;
	transition: 300ms;
}

// Messages
.message{
	font-size: 5vw;
	text-align: center;
	white-space: pre-line;
	transition: 300ms;
}
.initialPos{
	opacity: 0;
	transform: translateY(20px);
}
.finalPos{
	opacity: 0;
	transform: translateY(-20px);
}





@media screen and (max-width:1199px) {
	.scoreScreen{
		width: 53vw;
		height: 11vw;
	}
	.field{
		width: 54vw;
	}
	.elem{
		height: 11vw;
	}
	.showElem{
		height: 7vw;
	}
	.message{
		font-size: 6vw;
	}
}

@media screen and (max-width:991px) {
	.scoreScreen{
		width: 59vw;
		height: 15vw;
	}
	.field{
		width: 60vw;
	}
	.elem{
		height: 15vw;
	}
	.showElem{
		height: 10vw;
	}
	.message{
		font-size: 7vw;
	}
}

@media screen and (max-width:767px) {
	.scoreScreen{
		width: 79vw;
		height: 20vw;
	}
	.field{
		width: 80vw;
	}
	.elem{
		height: 20vw;
	}
	.showElem{
		height: 15vw;
	}
	.message{
		font-size: 9vw;
	}
}

@media screen and (max-width:575px) {
	.scoreScreen{
		width: 95vw;
		height: 24vw;
	}
	.field{
		width: 96vw;
	}
	.elem{
		height: 24vw;
	}
	.showElem{
		height: 18vw;
	}
	.message{
		font-size: 12vw;
	}
}
